@model IEnumerable<Grocery_Store.Models.CategoryEntity>

@{
    ViewBag.Title = "Category";
}

@RenderPage("~/Views/Home/AdminNavbar.cshtml")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table style="margin:auto;margin-top:3px">
        <tr>
            <td>
                @Html.Label("Title")
            </td>
            <td>
                @Html.TextBox("ctitle", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessage("title", "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Description")
            </td>
            <td>
                @Html.TextBox("description", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessage("description", "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-success" />
            </td>
        </tr>
    </table>  
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TITLE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Categories", new { id = item.id }))
            {
                <tr>
                    <td>
                        @item.id
                    </td>
                    <td>
                        @item.ctitle
                    </td>
                    <td>
                        @item.description
                    </td>
                    <td>
                        @* @Html.ActionLink("Text", "Action","Controller", route Values,html Attributes)*@
                        @Html.ActionLink("Update", "UpdateCategory", new { id = item.id }, htmlAttributes: new { @class = "btn btn-success" })
                        @*@Html.ActionLink("Delete by id", "Delete", new { id = item.Emp_id })*@
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }

        }
    }
</table>